[Unit]
Description=Obsidian Notes Publisher Script
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/home/hiram/Documents/code/projects/obsidian-notes-publisher/main.sh
ExecStop=/home/hiram/Documents/code/projects/obsidian-notes-publisher/main.sh
WorkingDirectory=/home/hiram
User=hiram
Environment=HOME=/home/hiram
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

